.no-button {
    background: #ffb3c9;
    color: #ff1f5c;
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 50px;
    position: fixed; /* changed from absolute */
    top: 50%;
    left: 50%;
    cursor: pointer;
}
